<div id="register">
    <div class="container">
        <h3 class="text-center text-black pt-5">Verander wachtwoord</h3>
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-12">
                <div id="register-box" class="col-md-12">
                    <form id="register-form" class="form" [formGroup]="profileForm" (ngSubmit)="saveInfo()">
                        <div class="row">
                            <div class="col-25">
                                <label for="password">Nieuw wachtwoord:</label>
                            </div>
                            <div class="col-75">
                                <input type="password"
                                       id="password"
                                       name="password"
                                       #passwordInput
                                       formControlName="password"
                                       placeholder="Wachtwoord">
                            </div>
                            <span *ngIf="!profileForm.get('password').valid && profileForm.get('password').touched"
                                  class="help-block">Wachtwoord moet worden ingevuld</span>
                        </div>
                        <div class="row">
                            <div class="col-75">
                                <button type=button class="btn btn-primary" (click)="togglePassword()">Toon
                                    wachtwoord
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit"
                                   class="btn-success"
                                   value="Opslaan" [disabled]="!profileForm.valid">
                            <input type="button" (click)="clearForm()" value="Leeg" class="btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
