<body>
<div id="register">
    <div class="container">
        <h3 class="text-center text-black pt-5">gebruikers</h3>
        <div id="overview-row" class="row justify-content-center align-items-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">voornaam</th>
                <th scope="col">achternaam</th>
                <th scope="col">email</th>
                <th scope="col">status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users"
                [class.selected]="user === selectedUser"
                (click)="onSelect(user)">
                <td>{{user.id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles[0]?.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
</body>
