.page-container{
    display: flex;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 300px;
    background: grey;
}

.list-item{
    display: flex;
    font-size: 20px;
    color: white;
    padding: 15px;
}
