<div class="container p-3 justify-content-center mt-5 rounded" style="background: rgba(255, 255, 255, 0.9)">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 w-100">

            <div class="col nav-link" >
                <div class="card shadow-sm" routerLink="/patients" style="cursor: pointer" >
                    <img class="card-img-top" src="assets/images/PatientOverzicht.jpg">

                    <div class="card-body">
                        <h3 class="text-center">Patiënten</h3>
                        <p class="card-text">Op deze pagina is een overzicht te vinden van patiënten welke u beheerd. Hier kunt u patiënten inzien, wijzigen of linken aan gebruikers.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
                <div class="card shadow-sm" routerLink="/patients-add" style="cursor: pointer">
            <div class="col nav-link">
                    <img class="card-img-top" src="assets/images/PatientToevoegen.jpg">

                    <div class="card-body">
                        <h3 class="text-center">Patiënt toevoegen</h3>
                        <p class="card-text">Op deze pagina kunt u een nieuwe patiënt toevoegen aan uw dossier.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col nav-link">
                <div class="card shadow-sm" routerLink="/patients-link" style="cursor: pointer">
                    <img class="card-img-top" src="assets/images/PatientLinken.jpg">

                    <div class="card-body">
                        <h3 class="text-center">Patiënt linken</h3>
                        <p class="card-text">Op deze pagina kunt u patiënten welke nog niet gelinkt zijn linken aan een gebruiker.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
